.container {
	display: flex;
	width: 100%;
	height: 100%;
}

.slideshow {
	position: relative;
	overflow: hidden;
	border-radius: 16px;
	width: 100%;
	height: 100%;
}

.slideshow button {
	font-size: 18px;
	width: 32px;
	border-radius: 32px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	text-align: center;
	color: white;
}
.slideshow button:hover {
	cursor: pointer;
}

.prevBtn {
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translateY(-50%);
}

.nextBtn {
	position: absolute;
	top: 50%;
	right: 16px;
	transform: translateY(-50%);
}

.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}
