.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
	background: var(--primary-color);
}

.container_item {
	height: 600px;
	width: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	text-align: center;
}

.container_item Image {
	border-radius: 33px;
}

.container_item_skills {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	line-height: 1.5;
}

.container_item_skills h3 {
	font-size: 30px;
	color: var(--text-color);
}
.container_item_skills b {
	font-size: 20px;
	color: var(--tertiary-color);
}
