.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: 100vh;
	background: var(--primary-color);
}

.container_item {
	height: 600px;
	width: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	text-align: center;
}

.container_item Image {
	border-radius: 33px;
}

.container_item_skills {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	line-height: 1.5;
}

.container_item_skills h3 {
	font-size: 30px;
	color: var(--text-color);
}
.container_item_skills b {
	font-size: 20px;
	color: var(--tertiary-color);
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
	.container {
		width: 100%;
		height: 150vh;
		flex-direction: column;
		margin-top: 80px;
	}
	.container_item {
		height: 100%;
		width: 100%;
	}
}

/* Large phones */
@media only screen and (min-width: 426px) and (max-width: 525px) {
	/* Styles for large phones (e.g., iPhone 6, 7, 8 Plus) go here */
	.container {
		width: 100%;
		height: 100vh;
		flex-direction: column;
		margin-top: 80px;
	}
	.container_item {
		height: 100%;
		width: 100%;
	}
}

/* Small tablets */
@media only screen and (min-width: 526px) and (max-width: 768px) {
	/* Styles for small tablets (e.g., iPad Mini) go here */
	.container {
		width: 100%;
		height: 100vh;
	}
	.container_item {
		height: 600px;
		width: 225px;
	}
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	/* Styles for large tablets (e.g., standard iPad, iPad Air) go here */
	.container {
		width: 100%;
		height: 100vh;
	}
	.container_item {
		height: 600px;
		width: 350px;
	}
}
