.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: 98vh;
	background: var(--primary-color);
}

.container_left {
	height: 90%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

.item_left {
	height: 400px;
	width: 550px;
	border: 2px solid white;
	border-radius: 15px;
}

.container_right {
	height: 90%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

.item_right {
	height: 350px;
	width: 75%;
	border-radius: 15px;
}

.container h1 {
	font-size: 50px;
	color: var(--secondary-color);
}

.container p {
	text-indent: 40px;
}

.container b {
	color: var(--tertiary-color);
	font-weight: bolder;
	line-height: 1.5;
}
