* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Geologica", sans-serif;
}

h1 {
	color: var(--text-color);
	font-size: 25px;
}

h2 {
	color: var(--text-color);
}

p {
	color: var(--text-color);
}

:root {
	--primary-color: #2e2d2f;
	--tertiary-color: #77a9c5;
	--tertiary-color-2: #4d2e36;
	--text-color: #e0e2e5;
	--button-color-1: ;
	/* Add more color variables as needed... */
}
