.container {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 150vh;
	background: var(--primary-color);
	padding-top: 60px;
}
.container_items {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}
.container_item_1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 600px;
	height: 300px;
}

.container_item_2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	gap: 10px;
	padding-top: 40px;
	width: 500px;
}

.container_item_2 h1 {
	white-space: nowrap;
	overflow: hidden;
	border-right: 0.15em solid var(--text-color);
	width: 100%; /* Adjust this based on the actual width of your text content */
	animation: typing 1.9s steps(20, end), blink-caret 0.9s step-end infinite, moveUp 1s 2s forwards;
}

.item_2_right img {
	border: 1px solid var(--tertiary-color);
	border-radius: 50px;
}
.container_item_3 {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	width: 500px;
}

.container_item_3 h2 {
}
.container_item_3 p {
}
.container_items button {
	width: 150px;
	height: 50px;
	border-radius: 10px;
	font-size: 18px;
	margin-bottom: 20px;
}

.container_items button:hover {
	cursor: pointer;
}

.container_item_4 {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	width: 500px;
}

.container_item_4 li {
	color: var(--text-color);
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	} /* This should match the width set for .header */
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: var(--text-color);
	}
}
