.container {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background: var(--primary-color);
	padding-top: 60px;
	margin-top: -50px;
}
.container_items {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}
.container_item_1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 600px;
	height: 300px;
}

.container_item_2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	width: 500px;
	height: 150px;
}

.intro {
	white-space: nowrap;
	overflow: hidden;
	border-right: 0.15em solid var(--text-color);
	width: 81%; /* Adjust this based on the actual width of your text content */
	animation: typing 1.9s steps(20, end), blink-caret 0.9s, moveUp 1s 2s forwards,
		hide-caret 0.1s 1.9s forwards;
	animation-delay: 1s;
	font-size: 25px;
	color: var(--tertiary-color);
}

.name {
	white-space: nowrap;
	overflow: hidden;
	border-right: 0.15em solid var(--text-color);
	width: 85%; /* Adjust this based on the actual width of your text content */
	animation: typing 1.53s steps(20, end), blink-caret 0.9s step-end infinite,
		moveUp 1s 2s forwards;
	animation-delay: 2.5s;
	font-size: 40px;
	animation-fill-mode: backwards;
}

.container_item_3_info {
	margin: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-size: 16px;
}

.container_item_3_info b {
	color: var(--tertiary-color);
	font-weight: bolder;
	line-height: 1.5;
}

.item_2_right img {
	border-radius: 50px;
}
.container_item_3 {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	width: 500px;
	gap: 5px;
	font-size: 15px;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.55);
	padding: 10px;
}

.container_items button:hover {
	cursor: pointer;
}

.container_item_1 Canvas:hover {
	cursor: pointer;
}

.container_item_4 {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	width: 500px;
}

.container_item_4 li {
	color: var(--text-color);
}

@keyframes typing {
	from {
		width: 0;
		opacity: 1;
	}
	to {
		width: 85%;
		opacity: 1;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: var(--text-color);
	}
}

@keyframes hide-caret {
	0% {
		border-right-color: var(--text-color);
	}
	100% {
		border-right-color: transparent;
	}
}

.container_items button {
	background-image: linear-gradient(to right, #e6dada 0%, #274046 51%, #e6dada 100%);
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 2px #eee;
	border-radius: 10px;
	display: block;
}

.container_items button:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
}

.LinkButton {
	text-decoration: none;
}

/* === Mobile Devices === */

/* Small phones */
@media only screen and (min-width: 320px) and (max-width: 375px) {
	/* Styles for small phones (e.g., iPhone 5, SE) go here */
	.container {
		width: 100%;
		margin-top: 0px;
		height: 140vh;
	}

	.container_item_1 {
		width: 100%;
	}
	.container_item_2 {
		width: 100%;
	}
	.container_item_3 {
		width: 50%;
	}

	.name {
		width: 98%; /* Adjust this based on the actual width of your text content */
	}
}

/* Medium phones */
@media only screen and (min-width: 376px) and (max-width: 425px) {
	/* Styles for medium phones (e.g., iPhone 6, 7, 8, X) go here */
	.container {
		width: 100%;
		margin-top: 0px;
		height: 140vh;
	}

	.container_item_1 {
		width: 100%;
	}
	.container_item_2 {
		width: 100%;
	}
	.container_item_3 {
		width: 50%;
	}

	.name {
		width: 98%; /* Adjust this based on the actual width of your text content */
	}
}

/* Large phones */
@media only screen and (min-width: 426px) and (max-width: 525px) {
	/* Styles for large phones (e.g., iPhone 6, 7, 8 Plus) go here */
	.container {
		width: 100%;
		margin-top: 0px;
		height: 140vh;
	}

	.container_item_1 {
		width: 100%;
	}
	.container_item_2 {
		width: 100%;
	}
	.container_item_3 {
		width: 50%;
	}

	.name {
		width: 98%; /* Adjust this based on the actual width of your text content */
	}
}

/* === Tablets === */

/* Small tablets */
@media only screen and (min-width: 526px) and (max-width: 768px) {
	/* Styles for small tablets (e.g., iPad Mini) go here */
	.container {
		width: 100%;
		margin-top: 0px;
	}

	.container_item_1 {
		width: 100%;
	}
	.container_item_2 {
		width: 100%;
	}
	.container_item_3 {
		width: 50%;
	}

	.name {
		width: 98%; /* Adjust this based on the actual width of your text content */
	}
}

/* Large tablets */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
	/* Styles for large tablets (e.g., standard iPad, iPad Air) go here */
	.container {
		width: 100%;
		margin-top: 0px;
	}

	.container_item_1 {
		width: 100%;
	}
	.container_item_2 {
		width: 100%;
	}
	.container_item_3 {
		width: 50%;
	}

	.name {
		width: 98%; /* Adjust this based on the actual width of your text content */
	}
}

/* === Laptops and Desktops === */

/* Small laptops */
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
	/* Styles for small laptops (e.g., 13-inch MacBook Air) go here */
	.container {
		width: 100%;
		margin-top: 0px;
	}

	.container_item_1 {
		width: 100%;
	}
	.container_item_2 {
		width: 100%;
	}
	.container_item_3 {
		width: 50%;
	}

	.name {
		width: 98%; /* Adjust this based on the actual width of your text content */
	}
}
